name: Main

on:
  push:

jobs:
  lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v5
        with:
          python-version: '>= 3.12'
      - run: pip install ruff
      - run: ruff --version
      - run: ruff check

  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ["3.12", "3.13", "3.14"]
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - run: pip install . bork
      - run: bork build
      - run: |
          echo 'Centre St & Montello St, Brockton, MA 02302' | python3 -m skysniff daily -a
      - run: |
          echo 'Centre St & Montello St, Brockton, MA 02302' | python3 -m skysniff hourly -a

  success:
    name: "CI Success"
    runs-on: ubuntu-latest
    permissions:
      contents: read
    needs: [lint, test]
    steps:
      - run: true

  changes:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      version_changed: ${{ steps.project.VERSION_CHANGED == '1' }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Check if version.py has changed
        id: project
        run: |
          git log --name-only --pretty="" HEAD^..HEAD | grep -q skysniff/version.py || : "${VERSION_CHANGED:=1}" && : "${VERSION_CHANGED:=0}"
          echo "VERSION_CHANGED=${VERSION_CHANGED}" >> "$GITHUB_OUTPUT"

  release:
    runs-on: ubuntu-latest
    needs: [success, changes]
    if: ${{ github.ref == 'refs/heads/main' && needs.changes.outputs.version_changed }}
    environment: pypi
    permissions:
      contents: write # Required for GitHub Releases
      id-token: write # Required for PyPi Trusted Publishing
    env:
      BORK_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v5
        with:
          python-version: '>= 3.12'
      - run: pip install bork
      - run: bork build
      - run: bork release
